[flake8]
extend-ignore = E203, E402
max-line-length = 140
exclude =
    venv,
    .venv,
    __pycache__,
    .git,
    .github,
    user,
    docs,
    .streamlit,
    .pytest_cache,
    icc,
    processed,
    node_modules,
    dist
    desktop/bin,
    build
